.text-field-wrap .input-field{
    width: 100%;
    padding:10px 15px;
    border-radius:5px;
    border: 1px solid black;
}
.common-model {
    background: #fff
}
.user-id-field {
    background-color: #fff;
}
 .text-field-wrapper{
    flex-basis:100%;
    margin-bottom:20px;
 }
 .text-field-wrap .input-field.workers-btn{
    width: 48%;
    background: #000;
    color:#fff;
    font-weight: 700;
    font-size:15px;
 }
 .react-tel-input .form-control{
    width: 100% !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #979797;
    border-radius: 3px;
 }
 @media (min-width: 576px){
    .text-field-wrapper{
        flex-basis:48%;
    }
    .text-field-wrap{
        flex-wrap: wrap;
    }
    .text-field-wrapper{
        margin-bottom: 0px;
    }
    .text-field-wrap{
        margin-bottom: 20px;
    }
 }
