<tr>
    <td style="font-size: 18px; line-height: 30px; color: #000; font-weight: 700">{{email}}</td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 20px 0">{{verifyEmailToActivateAccount}}</td>
</tr>
<tr>
    <td style="padding: 0 0 20px">
        <a href="{{verificationLink}}" style="font-size: 18px; line-height: 39px; color: #ff0000; font-weight: 500"> {{confirmEmail}}</a>
    </td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 24px; color: #000; font-weight: 500; padding: 0 0 90px">
        {{copyPasteLink}}
        <a href="{{verificationLink}}" style="color: #000"> {{verificationLink}} </a>
    </td>
</tr>
