<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 40px 0">{{orgName}} {{wantsToDeletePDC}} “{{pdcName}}“. {{clickToApprove}}</td>
</tr>
<tr>
    <td style="font-size: 14px; line-height: 39px; color: #000; font-weight: 500; padding: 10px 0px 45px 0px">
        <a href="{{approvalLink}}" target="_blank" style="text-decoration: none;">
            <span style="background: #000; padding: 8px; cursor: pointer; color: #fff; font-size: 14px; text-transform: uppercase; border: 0; border-radius: 3px; font-family: 'Roboto Condensed', sans-serif; font-weight: 600">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{approve}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </td>
</tr>
<tr>
    <td>
        <p style="font-weight: 600; color: #000; font-size: 14px; font-family: 'Roboto Condensed', sans-serif;">{{linkText}}</p>
        <a href="{{approvalLink}}" title="{{approvalLink}}" target="_blank" style="line-height: 22px; line-break: anywhere; color: #000; font-size: 14px; cursor: pointer; font-family: 'Roboto Condensed', sans-serif;">
            {{approvalLink}}
        </a>
    </td>
</tr>
