<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="ISO-8859-1">
	<title>Obortech Notification</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:400&amp;subset=cyrillic" rel="stylesheet">
</head>
<body style="font-family: 'Roboto Condensed', sans-serif;">

	<table border="0" cellpadding="0" cellspacing="0" style="width: 394px; margin: 0 auto; margin-top: 50px;">
		<tr>
			<td style="font-size: 21px; line-height: 30px; color: #000;">Mongolian Express</td>
		</tr>
		<tr>
			<td style="font-size: 21px; line-height: 30px; color: #000;">Jester_Tamir_01</td>
		</tr>
		<tr><td style="font-size: 21px; line-height: 25px; color: #000; font-weight: 700;"><br>Invited you to join its private network on</td></tr>
		<tr><td style="padding: 60px 0"><img src="logo.png" alt="OBORTECH"></td></tr>
		<tr><td><span style="background: #000; padding: 9px 49px; color: #fff; font-size: 18px; text-transform: uppercase; border: 0; border-radius: 8px; font-family: 'Roboto Condensed', sans-serif; font-weight: 600;">JOIN NOW</span></td></tr>
		<tr>
			<td>
				<p style="font-weight: 600; color: #000; font-size: 14px; font-family: 'Roboto Condensed', sans-serif;">{{linkText}}</p>
				<a href="{{approvalLink}}" title="{{approvalLink}}" target="_blank" style="line-height: 22px; line-break: anywhere; color: #000; font-size: 14px; cursor: pointer; font-family: 'Roboto Condensed', sans-serif;">
					{{approvalLink}}
				</a>
			</td>
		</tr>
		<tr>
			<td style="font-size: 14px; line-height: 39px; color: #000; font-weight: 500; padding-top: 10px; ">
				if not seeing the Join button, <a href="javascript:;" style=" color: #000;">click here </a>
			</td>
		</tr>

		<tr>
			<td style="font-size: 14px; line-height: 16px; color: #737373; font-weight: 500; padding: 40px 0 70px; ">
				OBORTECH is a decentralized and private blockchain network for supply chain. It alows network members to exchange data and track consignments in real-time via easy to use and secure hub.
			</td>
		</tr>

		<tr>
			<td style="font-size: 12px; line-height: 16px; color: #737373; font-weight: 500; padding: 0 0 15px; ">
				OBORTECHglobal OÜ, <br>
				Harju maakond, Tallinn, Kesklinna linnaosa, <br>
				Maakri tn 21, 10145, Estonia
			</td>
		</tr>

		<tr>
			<td style="font-size: 12px; line-height: 16px; color: #3E3E3E; font-weight: 500;">
				www.obortech.ioa
			</td>
		</tr>

	</table>

</body>
</html>
