<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 0px 0">{{hi}} {{userName}}!</td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 0 0 10px 0">{{addBlockchain}}</td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 0 0 10px 0">{{orgNameTxt}}<b>{{orgName}}</b></td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 0 0 10px 0">{{serverTxt}}<b>{{server}}</b></td>
</tr>
