<tr>
    <td style="font-size: 24px; line-height: 25px; color: #000; font-weight: 700"><br />{{hi}} {{firstName}} {{lastName}}!</td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 40px 0">{{content}}</td>
</tr>
<tr>
    <td style="font-size: 14px; line-height: 39px; color: #000; font-weight: 500; padding: 10px 0px 45px 0px">
        <a href="{{verificationLink}}" target="_blank" style="background: #000; padding: 8px; cursor: pointer; color: #fff; font-size: 14px; text-transform: uppercase; text-decoration: none; border: 0; border-radius: 3px; font-family: 'Roboto Condensed', sans-serif; font-weight: 600">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ctaText}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
    </td>
</tr>
<tr>
    <td>
        <p style="font-weight: 600; color: #000; font-size: 14px; font-family: 'Roboto Condensed', sans-serif;">{{linkText}}</p>
        <a href="{{verificationLink}}" target="_blank" title="{{verificationLink}}" style="line-height: 22px; line-break: anywhere; color: #000; cursor: pointer; font-size: 14px; font-family: 'Roboto Condensed', sans-serif;">
            {{verificationLink}}
        </a>
    </td>
</tr>
