<tr>
    <td style="font-size: 14px; line-height: 19px; color: #737373; align-items: flex-start; padding: 60px 0">
        <p style="margin: 0 15px 0 0; float: left"><img src="{{URL}}/static/img/{{icon}}.png" /></p>
        <p style="margin: 0; float: left; width: 260px">
            <span style="color: #000">{{user_name}} ({{orgnization_name}})</span><br />
            {{action}} <span style="color: #000">{{event_name}}</span><br />
            {{onItemIDTxt}} {{item}},
            <br />{{deadlinetext}} <br />
            {{remainingtext}} <br />{{projecttxt}} {{project}}
        </p>
    </td>
</tr>
