<tr>
    <td style="font-size: 24px; line-height: 25px; color: #000; font-weight: 700; text-transform: capitalize"><br />{{hi}} {{username}}!</td>
</tr>
<tr>
    <td style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 40px 0">{{#if isAdmin}}{{organization}} {{hasRequested}} {{dsusername}}{{else}}{{dataRequestedBy}} {{organization}}{{/if}}. {{belowDetails}}:</td>
</tr>
<tr>
    <td style="font-size: 14px; line-height: 39px; color: #000; font-weight: 500">
        <p style="padding: 0; margin: 0"><strong>Request ID: </strong> {{req_uniq_id}}</p>
        <p style="padding: 0; margin: 0"><strong>Purpose: </strong> {{purpose}}</p>
        <p style="padding: 0; margin: 0"><strong>Clause: </strong> {{clause}}</p>
        <p style="padding: 0; margin: 0"><strong>Data: </strong> {{data}}</p>
        <p style="padding: 0; margin: 0"><strong>Access: </strong> {{access}}</p>
        <!-- <p style="padding: 0; margin: 0"><strong>Validity: </strong> {{validity}} Hours</p> -->
    </td>
</tr>
<tr>
    <td style="font-size: 14px; line-height: 39px; color: #000; font-weight: 500; padding: 10px 0px">
        <a href="{{view_request_url}}" target="_blank" style="text-decoration: none;">
            <span style="background: #000; padding: 8px; cursor: pointer; color: #fff; font-size: 14px; text-transform: uppercase; border: 0; border-radius: 3px; cursor: pointer; font-family: 'Roboto Condensed', sans-serif; font-weight: 600">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{viewRequest}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
    </td>
</tr>
<tr>
    <td>
        <p style="font-weight: 600; color: #000; font-size: 14px; font-family: 'Roboto Condensed', sans-serif;">{{linkText}}</p>
        <a href="{{view_request_url}}" title="{{view_request_url}}" target="_blank" style="line-height: 22px; line-break: anywhere; color: #000; font-size: 14px; cursor: pointer; font-family: 'Roboto Condensed', sans-serif;">
            {{view_request_url}}
        </a>
    </td>
</tr>
